.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 375px;
    z-index: 1000;
    bottom: 0;
    
}

.navbarButton {
    background-color: white;
    border: none;
    color: #BFBEBF;
}